/* 
Colors
primary color #131c29 
secondary color #ff8901
background color #f3f4f6
link color #5a6674
button color #1e3346
bottom bar #0b1016
gradient #385a7f

Text
font-family: 'Oswald', sans-serif;
*/

:root {
    --primColor: #131c29;
    --secColor: #ff8901;
    --backColor: #f3f4f6;
    --btnColor: #1e3346;
    --linkColor: #5a6674;
    --font: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box
}

/* general */

body {
    background-color: var(--backColor);
}

a {
    text-decoration: none;
}

.inner {
    width:  90%;
}

/* close general */

/* header */

.top-section {
    height: 30px;
    width: 100%;
    background-color: var(--primColor);
}

.top-section a {
    color: var(--linkColor);
    font-family: sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

.top-section a:hover {
    color: #ddd;
}

.top-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.top-list-item {
    border-right: 1px solid var(--linkColor);
}

.top-list-item:last-child {
    border-right: none;
}



.bottom-list-item {
    display: inline;
    font-family: var(--font);
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--primColor);
    border-radius: 5px;
}

.bottom-list-item:hover {
    background-color: var(--secColor);
}

.list-link {
    color: var(--backColor);
}

/* close header */

/* main */

.main {
    display: flex;
    flex-flow: row;
}

.slider {
    display: inline;
    width: 25px;
    height: 25px;
    background-color: #ddd;
    border-radius: 50%;
}

.slider:hover {
    background-color: var(--secColor);
}

.content-section {
    display: flex;
    font-family: var(--font);
}

.content-header {
    color: var(--primColor);
    font-size: 48px;
    text-transform: uppercase;
}

.content-text {
    color: var(--linkColor);;
    font-size: 14px;
    font-weight: 200;
}

.content-btn {
    height: 30px;
    width: 60px;
    color: var(--backColor);;
    text-transform: uppercase;
    background-color: var(--btnColor);
    border: none;
    border-radius: 5px;
}

.content-btn:hover {
    background-color: var(--secColor);
}

/* close main */

/* footer */

.top-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background: radial-gradient(circle at top center,
    #385874, var(--primColor));
}

.footer-header {
    color: #f3f4f6;
    font-family: var(--font);
    font-size: 38px;
    text-transform: uppercase;
}

.services-item, .opp-item {
    list-style-image: url('../media/cog.png');
    font-family: var(--font);
    font-size: 14px;
    font-weight: 200;
}

.service-link, .opp-link, .news-link {
    text-decoration: none;
}
.service-link {
    color: #f3f4f6;
}

.opp-div {
    font-family: var(--font);
}

.opp-link, .news-link {
    font-size: 14px;
    font-weight: 200;
}

.opp-link h3, .news-link h3 {
    color: #f3f4f6;
}

.opp-link p, .news-link p {
    color: #5a6674;
}

.news-list {
    list-style-type: none;
}

.date-div span {
    display: block;
    color: #f3f4f6;
    font-family: var(--font);
    text-align: center;
}

.date {
    font-size: 30px;
}

.date-div {
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

.month {
    text-transform: uppercase;
}

#date1 {
    background-color: #be8343;
}

#date2 {
    background-color: #bd6142;
}

#date3 {
    background-color: #bd425b;
}

.bottom-footer {
    background-color: #0b1016;
}

.colophon {
    color: #5a6674;
    font-family: sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

/* close footer */